.iconContainer{
    color:var(--header-text-color);
    position: relative;
}
.counterBubble{
    position: absolute;
    top: -6px;
    right: -6px;
    background: #ef4444;
    color: #fff;
    font-size: 10px;
    width: 16px;
    height: 16px;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    height: 1.25em;
    width: 1.25em;
}
@media only screen and (min-width: 768px){
    .icon{
        height: 1.5em;
        width: 1.5em;
    }
}