.headerContainer{
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:.8em 2em;
    background-color: var(--color-primary);
    h1,p{
        color:var(--header-text-color);
    }
    h1{
        font-family: var(--spaceGrotesk);
    }
}
.brand{
    display: flex;
    align-items: center;
    gap:1em;
}
.logomark{
    max-width: 200px;
    max-height: 2em;
    width: auto;
    height: auto;
}