.headerContainer{
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    padding:.8em 2em;
    background-color: var(--color-primary);
    h1,p{
        color:var(--header-text-color);
    }
    h1{
        font-family: var(--spaceGrotesk);
        font-size: 1em;
    }
}
.brand{
    display: flex;
    align-items: center;
    gap:1em;
}
.logomark{
    max-width: 60px;
    max-height: 2em;
    width: auto;
    height: auto;
}
.logoFallback{
    color:var(--color-primary);
    background-color: var(--header-text-color);
    font-weight: 800;
    padding: .5em;
    border-radius: 8px;
    font-family: var(--spaceGrotesk);
}

@media only screen and (min-width: 768px) and (max-width:1200px){
  .headerContainer{
    h1{
        font-size: 1.5em;
    }
  }
}
/*desktop*/
@media only screen and (min-width: 1200px){
  .headerContainer{
    h1{
        font-size: 2em;
    }
  }
  .logomark{
    max-width: 150px;
  }
}